<div class="content">
  <div class="banner-1">
    <div class="container-1">
      <div class="banner-content">
        <div>
          <h1 class="heading">
            สมัครเป็นสมาชิก
            <br />
            สเวนเซ่นส์วันนี้ พร้อมรับสิทธิพิเศษมากมายรอคุณอยู่ที่นี่
          </h1>
        </div>
        <div class="description">
          <p>
            พิเศษสุดๆ!&nbsp;สำหรับสมาชิกสเวนเซ่นส์ ยิ่งกิน ยิ่งได้
            ยิ่งคุ้ม&nbsp;ใครๆ ก็สมัครได้
            ใช้ง่ายสะดวกสบายพร้อมสิทธิประโยชน์มากมายเพื่อคนสำคัญเช่นคุณ&nbsp;รอไม่ได้แล้ว
            สมัครเลย
          </p>
        </div>
        <div class="action to-delivery-wrapper">
          <a href="/delivery" class="wrap image-btn-th"></a>
        </div>
      </div>
      <div class="banner-image">
        <img src="https://swensens1112.com/images/banner-image.svg" alt="" />
      </div>
    </div>
  </div>
  <div class="banner-2">
    <div class="container-2">
      <h2 class="banner-content-2 heading">Super Deal</h2>
      <div class="image-carousel">
        <div class="image-list">
          <div class="image-item">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/swensens-production.appspot.com/o/superdeal%2FLoyalty%20Toasty%20Sundae%20Promotion_1440x810px%20Final.jpg?alt=media"
              alt=""
            />
            <img
              src="https://firebasestorage.googleapis.com/v0/b/swensens-production.appspot.com/o/superdeal%2FSW%20Toasty%20Sundae_KV%201440x810px_0.jpg?alt=media"
              alt=""
            />
            <img
              src="https://firebasestorage.googleapis.com/v0/b/swensens-production.appspot.com/o/superdeal%2FAW_Swensen_s_Circus_Cake1.5_1440x810px-01.jpg?alt=media"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner-footer">
    <div class="container-footer">
      <div class="mobile-img">
        <img
          src="https://swensens1112.com/images/app-screen-webp.webp"
          alt=""
        />
      </div>
      <div class="app-button">
        <div class="container-button">
          <h2 class="heading">Download on</h2>
          <div class="download-button">
            <div class="download-item">
              <div class="item">
                <a
                  href="https://play.google.com/store/apps/details?id=com.swensens1112.swensens"
                  target="_blank"
                  ><img
                    src="	https://swensens1112.com/images/google-play.png"
                    alt=""
                /></a>
              </div>
              <div class="item">
                <a
                  href="https://apps.apple.com/th/app/swensens/id1553427962"
                  target="_blank"
                  ><img
                    src="https://swensens1112.com/images/app-store.png"
                    alt=""
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
